<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.gmall.mapper.SpuSaleAttrMapper">

    <resultMap id="spuSaleAttrMap" type="com.wang.gmall.model.product.SpuSaleAttr" autoMapping="true">
        <id property="id" column="ssa_id"></id>
        <collection property="spuSaleAttrValueList" ofType="com.wang.gmall.model.product.SpuSaleAttrValue"
                    autoMapping="true">
        <id property="id" column="ssav_id"></id>
        </collection>
    </resultMap>
    <select id="selectSpuSaleAttrListCheckBySku" resultMap="spuSaleAttrMap">
        SELECT
            ssa.id ssa_id,
            ssa.*,
            ssav.id ssav_id,
            ssav.*,
            IF
            ( skuav.sku_id, 1, 0 ) AS isChecked
        FROM
	        spu_sale_attr ssa
	    INNER JOIN spu_sale_attr_value ssav ON ssa.base_sale_attr_id = ssav.base_sale_attr_id
	    LEFT JOIN sku_sale_attr_value skuav ON skuav.sale_attr_value_id = ssav.id
	    AND skuav.sku_id = #{skuId}
        WHERE
	        ssa.spu_id = #{spuId}
	    AND ssav.spu_id = #{spuId}
        order by ssa_id,ssav_id
    </select>
</mapper>